.active {
  background-color: gray !important;
  border: 0px !important;
}

.jumbotron {
  padding: 10px !important;
}

.navbar {
  padding-top:0 !important;
  padding-bottom:0 !important;
}

button {
  background-color: red !important;
  color:white !important;
  border: none !important;
}