.active {
  background-color: gray !important;
  border: 0px !important;
}

.jumbotron {
  padding: 10px !important;
}

.navbar {
  padding-top:0 !important;
  padding-bottom:0 !important;
}

button {
  background-color: red !important;
  color:white !important;
  border: none !important;
}

.message-banner {
  margin-top: 100px;
}

.text-primary {
  color: lightcoral !important;
}

.fa-spinner {
  font-size:52px;
  color:lightcoral;
}

.video-select {
  cursor: pointer;
}

#loading {
  -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}
